<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<%= stylesheet_link_tag 'just_for_test' %>	
	<%= javascript_include_tag 'just_for_test' %>
</head>

<body>
	<%= yield %>
</body>
</html>